body {
  background: rgb(255, 248, 233);
  color: rgb(67, 76, 84);
}

a {
  color: rgb(67, 76, 84);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 200, 67);
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
