body {
  font-family: "Montserrat", sans-serif;
  background: rgba(193, 211, 250, 0.952);
  color: rgb(25, 26, 29);
  letter-spacing: -0.25px;
  margin: 40px auto;
}

a {
  color: rgb(25, 26, 29);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 20px 0;
}

.App-logo {
  max-width: 130px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
