body {
  background: rgba(158, 175, 216, 0.952);
  color: rgb(25, 26, 29);
  margin: 40px auto;
}

a {
  color: rgb(25, 26, 29);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 20px 0;
}

.App-logo {
  max-width: 130px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
