.Dictionary h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}

.Dictionary section {
  background: rgb(255, 255, 255);
  padding: 45px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  color: rgba(67, 76, 84, 0.801);
  border: 1px solid rgba(75, 85, 94, 0.548);
  border-radius: 8px;
}

.Dictionary .hint {
  font-size: 12px;
  margin: 5px 0 0 2px;
  opacity: 0.6;
}
