.Dictionary section {
  background: rgb(255, 255, 255);
  padding: 45px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  font-size: 19px;
  color: rgba(67, 76, 84, 0.9);
  border: 1.5px solid rgba(25, 26, 29, 0.4);
  border-radius: 8px;
}

.Dictionary .hint {
  font-size: 13px;
  margin: 5px 0 0 2px;
  opacity: 0.6;
}

/*SMALLER DEVICE ADJUSTMENTS*/
@media (max-width: 540px) {
  .Dictionary section {
    padding: 30px;
  }

  .Dictionary input {
    font-size: 15px;
  }

  .Dictionary .hint {
    font-size: 11px;
  }
}
