.Meaning h4 {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
}

.Meaning .definition {
  font-size: 17px;
  margin: 35px 0 0 20px;
  line-height: 1.25;
}

.Meaning .example {
  font-size: 14px;
  color: rgb(25, 26, 29);
  opacity: 0.6;
  font-style: italic;
  margin: 5px 0 0 20px;
}

/*SMALLER DEVICE ADJUSTMENTS*/
@media (max-width: 540px) {
  .Meaning h4 {
    font-size: 20px;
  }

  .Meaning .definition {
    font-size: 15px;
  }

  .Meaning .example {
    font-size: 12px;
  }
}
